:root {
  --color-orange: orangered;
  --color-dark: #2a2a2a;

  --body-bg: rgba(212, 242, 252);
  --text-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-text-color: white;

  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.461);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}
.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}
.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}
/* <!-- Header section  --> */
header {
  box-shadow: var(--shadow)
  position: sticky;
  top: 0px;
  background:var(--body-bg);
}
header .header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem o;
}
.logo {
  font-size: 1.4rem;
  position: relative;
}
.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;

  position: absolute;
  left: 35%;
}

.nav {
  list-style: none;
  font-weight: bold;
}
.nav li:hover {
  cursor: pointer;
  color: var(--color-orange);
  transition: all 0.3s;
}

/* Dark mode toggler */
[for="mode"] {
  position: fixed;
  top: 6rem;
  left: 3rem;
}
[for="mode"] :hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
/* Applying darkmode */
#mode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
}
#mode {
  display: none;
}
/* <!-- Hero Section  -->*/
.hero-section {
  margin-top: 5rem;
  max-height: 60vh;
}
.hero {
  background: var(--color-orange);
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--shadow);
}
.left {
  grid-area: left;
  flex-direction: column;
  margin-left: 10vw;
  justify-content: center;
}
.left span {
  font-size: 1.3rem;
  font-weight: bold;
}
.left .tag {
  font-size: 2.5rem;
  letter-spacing: 5px;
}
.left button {
  background: var(--color-dark);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.right {
  grid-area: right;
  justify-content: end;
  align-items: center;
  margin-top: -13rem;
}
.right img {
  height: 115%;
}

/* <!-- Banner section  --> */

/* <!-- Skills section  --> */

/* <!-- My projects section  --> */

/* <!-- About me section  --> */

/* <!-- Contact section  --> */

/* <!-- Footer  --> */
